# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
*.egg-info/
*.egg

# Local Dev Keys, Certificates & Security Assets
*.pem
*.crt
*.cer
*.key
*.pub
*.priv
*.p12
*.pfx
*.der
*.csr
*.kdb
*.id_rsa
*.id_ed25519
private.pem
public.pem
dist/
# Databases
*.db
*.sqlite
*.sqlite3

# Environment & Logs
.env
.env.local
*.log
.superpowers
run/
IMPL*.md
docs/superpowers
